body{
background-color: black;

}

h1 {

    color: white;

    text-align: center;


}

div {

    text-align: center;

    color: red;
}

p{

    font-size: large;
    font-style: italic;
    font-family: fantasy;

    color: red;
}